.clan-card {
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clan-info {
  display: flex;
  flex-direction: column;
}
