<div class="clan-page">

  <h2>Create New Clan</h2>

  <form class="form-card" [formGroup]="clanForm" (ngSubmit)="createClan()">

    <label>
      Name:
      <input formControlName="name" />
    </label>

    @if (clanForm.controls['name'].invalid && clanForm.controls['name'].touched) {
      <div class="error">
        Name must have at least 8 characters.
      </div>
    }

    <label>
      Description:
      <textarea formControlName="description"></textarea>
    </label>

    <label>
      Capacity:
      <input type="number" formControlName="capacity" />
    </label>

    @if (clanForm.controls['capacity'].invalid && clanForm.controls['capacity'].touched) {
      <div class="error">
        Capacity must be at least 1.
      </div>
    }

    <button type="submit">Create Clan</button>
  </form>

  <hr />

  <h2>Clans</h2>

  <app-search (searchChange)="onSearchChange($event)"></app-search>

  @for (clan of filteredClans(); track clan.id) {
    <div class="clan-card">

      <div class="clan-info">
        <div class="title">
          {{ clan.name }} ({{ clan.memberIds.length }}/{{ clan.capacity }})
        </div>

        <div class="small">
          {{ clan.description }}
        </div>
      </div>

      <div>
        <button (click)="openDetail(clan.id)">Detail</button>
        <button class="danger" (click)="deleteClan(clan.id)">Delete</button>
      </div>

    </div>
  }

</div>
